$softShadow: hsla(0, 0%, 80%, 0.5);
$softRadius: 3px;

@font-face {
  font-family: "Rajdhani";
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rajdhani/Rajdhani-Regular.ttf');
  // I wish we could use online URLs for resources to be bundled.
  //src: url('https://fonts.googleapis.com/css?family=Rajdhani');
}

body {
  min-width: 640px;
  font-family: "Rajdhani";
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-item {
  //margin-top: 5vmin;
}

.bubble-chart {
  width: calc(100vw - 20vmin);
  height: calc(100vh - 28vmin);
  min-width: 600px;
  min-height: 480px;
  margin: 9vmin 10vmin;
  box-shadow: 0 0 5vmin $softShadow;
  border-radius: $softRadius * 3;
}

.data-table {
  table {
    table-layout: auto;
    border-collapse: collapse;
    text-align: right;
    white-space: nowrap;

    th {
      color: hsla(0, 0%, 90%, 1);
      background-color: hsla(0, 0%, 35%, 1);
      text-align: right;
      padding-right: $softRadius;
      padding-left: 3vw;

      &:first-child {
        border-top-left-radius: $softRadius;
        border-bottom-left-radius: $softRadius;
      }

      &:last-child {
        border-top-right-radius: $softRadius;
        border-bottom-right-radius: $softRadius;
      }
    }

    tr:nth-child(even) {
      background-color: $softShadow;
    }

    td {
      padding-right: $softRadius;

      &:first-child {
        border-top-left-radius: $softRadius;
        border-bottom-left-radius: $softRadius;
      }

      &:last-child {
        border-top-right-radius: $softRadius;
        border-bottom-right-radius: $softRadius;
      }
    }
  }
}
